{
  "printWidth": 90,
  "tabWidth": 2,

  "semi": true,
  "useTabs": false,
  "singleQuote": false,
  "bracketSpacing": false,
  "jsxBracketSameLine": false,

  "arrowParens": "avoid",
  "trailingComma": "none"
}
